
.link-green{
    color: #1abc9c;
    text-decoration: none;
}

.link-green:hover {
    color: #ffffff;
}

.link-white{
    color: #ffffff;
    text-decoration: none;
}

.link-white:hover {
    color: #ffffff;
}

.line-ico{
    height: 4px;
    max-width: 80px;
    width: 100%;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.385);
}

.my-b-radius{
    border-radius: 10px;
}

.my-bg-grey{
    background-color: #3a546d;
}

.square{
    height: 60px;
    width: 60px;
    line-height: 58px
}

/* sovrascritture */
.btn-outline-dark{
    color: #ffffff;
    border-color: #ffffff;
}   

.btn-outline-dark:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
}

:root{
    --bs-success-rgb: 26, 188, 156;
    --bs-dark-rgb: 44, 62, 80;
}

.btn-success {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}